<div class="container topic">
    <h2>BUSINESS ENTERPRISE SOLUTIONS</h2>
    <p>Explore our comprehensive range of solutions to transform your business. Choose from the various services we provide.</p>

</div>
<br>
<div class="container">

    <div class="row" style="height: 300px">
        <div class="col-md-5">
                <div class="panel panel-default">
                        <div class="panel-heading">Voice-Based Services</div>
                        <div class="panel-body"><p>One stop shop solution for all your Voice based Enterprise Solutions.</p></div>
                        <button type="button" class="btn btn-default">Explore</button>
                      </div>
        </div>
        <div class="col-md-5">
                <div class="panel panel-default">
                        <div class="panel-heading">Connectivity-Based Services</div>
                        <div class="panel-body"><p>Great packages on Connectivity based Enterprise Solutions.</p></div>
                        <button type="button" class="btn btn-default">Explore</button>
                      </div>
        </div>
    
    </div>
    <div class="row" style="height: 200px">
            <div class="col-md-5">
                    <div class="panel panel-default">
                            <div class="panel-heading">Location-Based Services</div>
                            <div class="panel-body"><p>Best in class Location based Enterprise Solutions.</p></div>
                            <button type="button" class="btn btn-default">Explore</button>
                        </div>
            </div>
            <div class="col-md-5">
                    <div class="panel panel-default">
                            <div class="panel-heading">Devices</div>
                            <div class="panel-body"><p>Shop devices for the enterprise.</p></div>
                            <button type="button" class="btn btn-default">Explore</button>
                          </div>
        </div>
</div>


