<div class="container-fluid"><br>
    <div class="row">
        <h1>Our Dongle Products</h1>
    </div>
    <br>
    <div class="row">
            <div class="col-md-1"></div>
       <div class="col-md-3">   
           <div class="card" style="width:300px">
                    <img class="card-img-top" src="assets\dongle1.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                      <h4 class="card-title">VRM814 Wireless Dongle</h4>
                      <p class="card-text"><b>Key Features</b><br>
                        
                        4G Speed<br>
                        Download Speed: 150 Mbps<br>
                         Upload Speed: 180 Mbps<br>
                         Portable & Wireless Technology</p>
                      <a href="#" class="btn btn-primary">Buy now</a>
                    </div>
            </div>  
        </div> 

        <div class="col-md-3">   
                <div class="card" style="width:300px">
                         <img class="card-img-top" src="assets\dongle1.png" alt="Card image" style="width:100%">
                         <div class="card-body">
                           <h4 class="card-title">VCM794 Wireless Dongle</h4>
                           <p class="card-text"><b>Key Features</b><br>
                             
                              4G Speed<br>
                              Download Speed: 250 Mbps<br>
                              Upload Speed: 250 Mbps<br>
                              Portable & Wireless Technology</p>
                           <a href="#" class="btn btn-primary">Buy now</a>
                         </div>
                 </div>  
                 <div class="col-md-1"></div>

             </div><div class="col-md-3">   
                    <div class="card" style="width:300px">
                             <img class="card-img-top" src="assets\dongle1.png" alt="Card image" style="width:100%">
                             <div class="card-body">
                               <h4 class="card-title">VPM974 FI Wireless Dongle</h4>
                               <p class="card-text"><b>Key Features</b><br>
                                 
                                 4G Speed<br>
                                 Download Speed: 500 Mbps<br>
                                  Upload Speed: 590 Mbps<br>
                                  Portable & Wireless Technology</p>
                               <a href="#" class="btn btn-primary">Buy now</a>
                             </div>
                     </div>  
                 </div>
                 <div class="col-md-1"></div>

                 </div>
<br>
<br>    
</div>