<div class="container">
        <div class="row">
      
          <div class="col-2">
            <div class="user-details-container">
              <img class="user-image" src="../assets/voizfonica.png" />
              <span class="user-title">{{userDetailsForm.get('fullname').value}}</span>
              
            </div>
          </div>
      
      
          <div class="col">
            <h2 class="section-title">LOGIN (Existing Users)</h2>
      
            <form [formGroup]="accountDetailsForm" novalidate (ngSubmit)="onSubmitAccountDetails(accountDetailsForm.value)">
                <label>Username:</label>
                <br>
              <mat-form-field class="full-width">
                <input matInput maxlength="25"  formControlName="username" style="border: 1px red solid" required>
                <mat-error *ngFor="let validation of account_validation_messages.username">
                  <mat-error class="error-message" *ngIf="accountDetailsForm.get('username').hasError(validation.type) && (accountDetailsForm.get('username').dirty || accountDetailsForm.get('username').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
      <br>
              <label>Enter your mobile number</label>
              <br>
              <mat-form-field class="full-width">
                <input matInput type="text" pattern="[789][0-9]{9}"  formControlName="number" style="border: 1px red solid" required>
                <mat-error *ngFor="let validation of account_validation_messages.email">
                  <mat-error class="error-message" *ngIf="accountDetailsForm.get('number').hasError(validation.type) && (accountDetailsForm.get('number').dirty || accountDetailsForm.get('number').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
      <br>
              <label>Password</label>
              <br>
              <div formGroupName="matching_passwords">
                <mat-form-field class="full-width">
                  <input matInput type="password"  formControlName="password" style="border: 1px red solid" required>
                  <mat-error *ngFor="let validation of account_validation_messages.password">
                    <mat-error class="error-message" *ngIf="accountDetailsForm.get('matching_passwords').get('password').hasError(validation.type) && (accountDetailsForm.get('matching_passwords').get('password').dirty || accountDetailsForm.get('matching_passwords').get('password').touched)">{{validation.message}}</mat-error>
                  </mat-error>
                </mat-form-field>
      <br>
                <label>Confirm Password</label>
                <br>
                <mat-form-field class="full-width">
                  <input matInput type="password"  formControlName="confirm_password"  [errorStateMatcher]="parentErrorStateMatcher" style="border: 1px red solid" required>
                  <mat-error *ngFor="let validation of account_validation_messages.confirm_password">
                    <mat-error class="error-message" *ngIf="(accountDetailsForm.get('matching_passwords').get('confirm_password').hasError(validation.type)|| accountDetailsForm.get('matching_passwords').hasError(validation.type)) && (accountDetailsForm.get('matching_passwords').get('confirm_password').dirty || accountDetailsForm.get('matching_passwords').get('confirm_password').touched)">{{validation.message}}</mat-error>
                  </mat-error>
                </mat-form-field>
      
              </div>
      <br>
              <mat-checkbox formControlName="terms">
                I accept terms and conditions
              </mat-checkbox>
              <mat-error *ngFor="let validation of account_validation_messages.terms">
                <mat-error class="error-message" *ngIf="accountDetailsForm.get('terms').hasError(validation.type) && (accountDetailsForm.get('terms').dirty || accountDetailsForm.get('terms').touched)">{{validation.message}}</mat-error>
              </mat-error>
      <br>
      <a class="btn btn-link btn-outline my-2 my-sm-0 btn-lg" routerLink="/my-account" href="#" style="color:#ff0000;font-size: 20px; font-weight: 600">Sign in</a>
        
      
            </form>
      
          </div>
        </div>
      </div>