<div class="container" style="height: 100px;background-color:teal; color:white ">
    <h1>How can we help you?</h1>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <button type="button" class="btn btn-primary">Plans and Offers</button><br>
                <button type="button" class="btn btn-primary">Problem in connectivity</button><br>
                <button type="button" class="btn btn-primary">Problem in recharge</button><br>
            </div>
            <div class="col-md-9" style="height: 700px; text-align: center">
                    <h2>Frequently Asked Questions:</h2>
                    <button type="button" class="btn btn-info">How do I contact customer care?</button><br>
                    <button type="button" class="btn btn-info">View my current bill.</button><br>
                    <button type="button" class="btn btn-info">Know about my current plan.</button><br>
                    <button type="button" class="btn btn-info">How to change my bill plan?</button><br>
                    <button type="button" class="btn btn-info">Unable to use internet.</button><br>
                    <button type="button" class="btn btn-info">View my past payments.</button><br>
                    <button type="button" class="btn btn-info">Get connection for an enterprise.</button><br>
                </div>
        </div>
    </div>