<div class="row" style="background-color: rgb(243, 239, 239);padding: 20px;">

    <div class="col-md-1"></div>
        <div class="col-md-4">
        <div class="radio">
      <label><input type="radio" name="optradio"  checked>Postpaid</label>
    </div>
                   <h2>Buy new Postpaid connection</h2><br>
                <input class="form-control form-control-lg" type="text" placeholder="Your name ">  <br>       
                <input class="form-control form-control-lg" type="text" placeholder="Your Mobile number">  <br>  
                <input class="form-control form-control-lg" type="text" placeholder="Address">  <br>     
                <input class="form-control form-control-lg" type="text" placeholder="Pincode">  <br>   
                <input class="form-control form-control-lg" type="text" placeholder="Locality"><br>     
                
                <input type="button" class="btn btn-default" value="Submit">  <br>
                <br>
                <b>Frequently Asked Questions</b>
    </div>
    <div class="col-md-1"></div>
                <div class="col-md-4">
                <div class="radio">
      <label><input type="radio" name="optradio" checked>Prepaid</label>
    </div>
                   <h2>Buy new Prepaid connection</h2><br>
                <input class="form-control form-control-lg" type="text" placeholder="Your Name ">  <br>       
                <input class="form-control form-control-lg" type="text" placeholder="Mobile Number">  <br>       
                <input class="form-control form-control-lg" type="text" placeholder="Address">  <br>       
                <input class="form-control form-control-lg" type="text" placeholder="Pincode">  <br>       
                <input class="form-control form-control-lg" type="text" placeholder="Locality"><br>       
    
                <input type="button" class="btn btn-default" value="Submit">  <br>
                <br>
    
            </div>
        <div class="col-md-2"></div>
    </div><br><br>
      
    