<!--
<div class="contact1">
        <div class="container-contact1">
            <h3>PACKS AND PLAN VOUCHERS</h3>
        </div>
        <br><br>
        <br>
<div class="container">
    <h3>PACKS/PLANS</h3>
    <img src="assets/pack1.jpg">

<h3>DATA OFFERS</h3>
        <img src="assets/pack2.jpg">

<h3>ROAMING</h3>
            <img src="assets/pack3.jpg">

<h4>ISD</h4>
                <img src="assets/pack4.jpg">
    </div>


-->
<!-- Grid row -->
<h3 style="text-align: center">PACKS AND PLAN VOUCHERS</h3>
<div class="row accordion-gradient-bcg d-flex justify-content-center">

    <!-- Grid column -->
    <div class="col-md-10 col-xl-6 py-5">
  
      <!--Accordion wrapper-->
      <div class="accordion md-accordion accordion-2" id="accordionEx7" role="tablist"
        aria-multiselectable="true">
  
        <!-- Accordion card -->
        <div class="card">
  
          <!-- Card header -->
          <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading1">
            <a data-toggle="collapse" data-parent="#accordionEx7" href="#collapse1" aria-expanded="true"
              aria-controls="collapse1">
              <h5 class="mb-0 white-text text-uppercase font-thin" style="color: red;">
                PACKS/PLANS<i class="fas fa-angle-down rotate-icon"></i>
              </h5>
            </a>
          </div>
  
          <!-- Card body -->
          <div id="collapse1" class="collapse show" role="tabpanel" aria-labelledby="heading1"
            data-parent="#accordionEx7">
            <div class="card-body mb-1 rgba-grey-light white-text">
                <img src="assets/pack1.jpg">
            </div>
          </div>
        </div>
        <!-- Accordion card -->
  
        <!-- Accordion card -->
        <div class="card">
  
          <!-- Card header -->
          <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading2">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse2"
              aria-expanded="false" aria-controls="collapse2">
              <h5 class="mb-0 white-text text-uppercase font-thin" style="color: red;">
                DATA OFFERS <i class="fas fa-angle-down rotate-icon"></i>
              </h5>
            </a>
          </div>
  
          <!-- Card body -->
          <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2"
            data-parent="#accordionEx7">
            <div class="card-body mb-1 rgba-grey-light white-text">
                <img src="assets/pack2.jpg">
            </div>
          </div>
        </div>
        <!-- Accordion card -->
  
        <div class="card">
  
            <!-- Card header -->
            <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading2">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse2"
                aria-expanded="false" aria-controls="collapse2">
                <h5 class="mb-0 white-text text-uppercase font-thin" style="color: red;">
                  ROAMING <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>
    
            <!-- Card body -->
            <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2"
              data-parent="#accordionEx7">
              <div class="card-body mb-1 rgba-grey-light white-text">
                <img src="assets/pack3.jpg">
              </div>
            </div>
          </div>
        <!-- Accordion card -->
        <div class="card">
  
          <!-- Card header -->
          <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading3">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse3"
              aria-expanded="false" aria-controls="collapse3">
              <h5 class="mb-0 white-text text-uppercase font-thin" style="color: red;">
                ISD<i class="fas fa-angle-down rotate-icon"></i>
              </h5>
            </a>
          </div>
  
          <!-- Card body -->
          <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3"
            data-parent="#accordionEx7">
            <div class="card-body mb-1 rgba-grey-light white-text">
                <img src="assets/pack4.jpg">
            </div>
          </div>
        </div>
        <!-- Accordion card -->
      </div>
      <!--/.Accordion wrapper-->
  
    </div>
    <!-- Grid column -->
  
  </div>
  <!-- Grid row -->