<div class="row" style="background-color: rgb(243, 239, 239);padding: 20px;">

        <div class="col-md-3"></div>
                <div class="col-md-4" style="text-align: center">
                   <h2>Pay bills(Postpaid)</h2><br>
                <input class="form-control form-control-lg" type="text" placeholder="Enter the number ">  <br>       
                <input class="form-control form-control-lg" type="text" placeholder="Amount">  <br>       
    
                <input type="button" class="btn btn-submit btn-outline-success" value="pay" style="font-size: 20px;font-weight: 500;color: black;">  <br>
                <br>
                
    
            </div>
    </div><br><br>
      <div class="row">
        <div class="col-md-4">  
        </div>                      
          <div class="col-md-4">    
            <h2>Prepaid to Postpaid connection</h2><br>
                <input class="form-control form-control-lg" type="text" placeholder="Name of new customer ">  <br>       
                <input class="form-control form-control-lg" type="text" placeholder="Mobile Number">  <br>  
                <input class="form-control form-control-lg" type="text" placeholder="City ">  <br>
                <input type="button" class="btn btn-submit btn-outline-success" value="Check" style="font-size: 20px;font-weight: 500;color: black;">  <br>       
         </div>
               <div class="col-md-4"> </div>
    
       </div>
       <br>
       <br>
    