<div class="container">

<div class="page-header" style="color:Red">
    <h1> Invoice <small style="color:grey">Your Account Summary</small></h1>
</div>

<!-- Simple Invoice - START -->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <img src="assets/voizfonica.png" width="250" height="200">
                <h2>Invoice for purchase #12345</h2>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12 col-md-3 col-lg-3 pull-left">
                    <div class="panel panel-default height">
                        <div class="panel-heading" style="background: #ff0000 ; color: white"><b>Billing Details</b></div>
                        <div class="panel-body">
                            <strong>Gautham:</strong><br>
                            11,6th street,<br>
                            Kilpauk<br>
                            Chennai<br>
                            <strong>600008</strong><br>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 col-lg-3">
                    <div class="panel panel-default height">
                        <div class="panel-heading" style="background: #ff0000 ; color: white"><b>Payment Information</b></div>
                        <div class="panel-body">
                            <strong>Card Name:</strong> Visa<br>
                            <strong>Card Number:</strong> ***** 339<br>
                            <strong>Exp Date:</strong> 12/2020<br>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 col-lg-3">
                    <div class="panel panel-default height">
                        <div class="panel-heading" style="background: #ff0000 ; color: white"><b>Account Details</b></div>
                        <div class="panel-body">
                            <strong>Mobile number:</strong> 9876543210<br>
                            <strong>Balance:</strong>INR 500<br>
                            <strong>Amount Due:</strong> Nil<br>
                            <strong>Validity:</strong> Jun 2020<br>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 col-lg-3 pull-right">
                    <div class="panel panel-default height">
                        <div class="panel-heading" style="background: #ff0000 ; color: white"><b>This month's Dongle charges</b></div>
                        <div class="panel-body">
                            <strong>Rentals:</strong>INR 2000.00<br>
                            <strong>Usage Charges:</strong>INR 00.00<br><strong>Taxes:</strong>INR 190.00<br><strong>Total:</strong>INR 2190.00<br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="background: #ff0000 ; color: white"> 
                    <h3 class="text-center" ><strong>YOUR CHARGES IN DETAIL</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <td><strong>Rentals</strong></td>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Description</td>
                                    <td class="text-center">From Date</td>
                                    <td class="text-center">To Date</td>
                                    <td class="text-right">Rental</td>
                                    <td class="text-right">Net Charges</td>
                                    <td class="text-right">Total</td>
                                </tr>
                                <tr>
                                    <td>Plan Details</td>
                                    <td class="text-center">08/03/2019</td>
                                    <td class="text-center">07/04/2019</td>
                                    <td class="text-right">2000.00</td>
                                    <td class="text-right">190.00</td>
                                    <td class="text-right">2190.00</td>
                                </tr>
                                <tr>
                                    <td class="highrow"></td>
                                    <td class="highrow"></td>
                                    <td class="highrow"></td>
                                    <td class="highrow"></td>
                                    <td class="highrow text-center"><strong>Subtotal</strong></td>
                                    <td class="highrow text-right">2000.00</td>
                                </tr>
                                <tr>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow text-center"><strong>Taxes</strong></td>
                                    <td class="emptyrow text-right">190.00</td>
                                </tr>
                                <tr>
                                    <td class="emptyrow"><i class="fa fa-barcode iconbig"></i></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow text-center"><strong>Total</strong></td>
                                    <td class="emptyrow text-right">2190.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
